<ion-view view-title="Workout Type(s)">
  <ion-content class="has-footer">
    <ul class="list">

        <li class="item item-checkbox" ng-repeat="workoutType in staticData.types">
           <label class="checkbox">
             <input type="checkbox" ng-model="workoutType.selected">
           </label>
           {{workoutType.name}}
        </li>

      </ul>
      
  </ion-content>
  <div class="bar bar-footer bar-positive">
        <a class="button button-large button-clear icon icon-left ion-ios-arrow-left pull-left" href="#/gym">Back</a>
        <a class="button button-large button-clear icon icon-right ion-ios-arrow-right pull-right" href="#/schedule">Next</a>
      </div>
</ion-view>