<ion-view view-title="Login">
    <ion-content class="padding">
      <div>
          <!--<button class="button button-block button-calm">
            LinkedIn
          </button>-->

          <button class="button button-block button-balanced" ng-click="facebookLogin()">
            Facebook
          </button>

          <!--<button class="button button-block button-energized">
            Google
          </button>

          <button class="button button-block button-assertive">
            Instagram
          </button>

          <button class="button button-block button-positive">
            Twitter
          </button>-->
        </div>

        <div class="card">{{message}}</div>
    </ion-content>
  </ion-view>