<ion-view view-title="Workout Schedule">
  <ion-content class="has-footer">
    <ul class="list">

        <li class="item item-checkbox" ng-repeat="workoutSchedule in staticData.schedules">
           <label class="checkbox">
             <input type="checkbox" ng-model="workoutSchedule.selected">
           </label>
           {{workoutSchedule.name}}
        </li>

      </ul>
      
  </ion-content>
  <div class="bar bar-footer bar-positive">
        <a class="button button-large button-clear icon icon-left ion-ios-arrow-left pull-left" href="#/workouts" nav-direction="back">Back</a>
        <a class="button button-large button-clear icon icon-right ion-ios-checkmark-empty pull-right" ng-click="saveProfile()">Done&nbsp;</a>
      </div>
</ion-view>